@include('layouts.header')
<style>
.scrollit {
  overflow:scroll;
  height:400px;
}
</style>

<body>
@include('layouts.navbar')
<div class="main-content">
  <section class="section">
    <div class="section-header">
      @include('layouts.topbar')
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
          <div class="section-body">
            <div class="card card-primary">
              <div class="invoice">
                <div class="invoice-print">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="invoice-title">
                        <h4>Purchase Inquire Detail</h4>
                        <div class="invoice-number">
                          @if($purchase_inquire_item1 != null || $purchase_inquire_item != null)
                            <a href="{{ url('purchase_inquire/print/'.$purchase_inquire->id) }}" class="btn btn-primary" target="_blank"><i class="fas fa-print"></i> Print</a>
                          @endif
                          <a href="{{ url('purchase_inquire/edit/'.$purchase_inquire->id) }}" class="btn btn-warning"><i class="fas fa-pencil-alt"></i> Edit</a>
                          <a href="{{ url('purchase_inquire')}}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="card-body">
                          <div class="card-text">
                            <div class="col-sm-6">
                                <div class="profile-user-info">
                                  <div class="profile-info-row">
                                    <div class="profile-info-name">Customer Name</div>
                                    <div class="profile-info-value">
                                      <span>{{ $purchase_inquire->customer_name }}</span>
                                    </div>
                                  </div>
                                  <div class="profile-info-row">
                                    <div class="profile-info-name">PO</div>
                                    <div class="profile-info-value">
                                      <span>{{ $purchase_inquire->po }}</span>
                                    </div>
                                  </div>
                                  <div class="profile-info-row">
                                    <div class="profile-info-name">Duty Free</div>
                                    <div class="profile-info-value">
                                      @if ( $purchase_inquire->duty_free == '1')
                                      <span>
                                        <li class="fa fa-check ace-icon bigger-130"></li>
                                      </span>
                                      @else
                                      <span>
                                        <li class="fa fa-times ace-icon bigger-130"></li>
                                      </span>
                                      @endif
                                    </div>
                                  </div>
                                  <div class="profile-info-row">
                                    <div class="profile-info-name">Creation Date</div>
                                    <div class="profile-info-value">
                                      <span>{{ Carbon\Carbon::parse($purchase_inquire->created_at)->format('D, d-m-Y')  }}</span>
                                    </div>
                                  </div>
                                  <div class="profile-info-row">
                                    <div class="profile-info-name">Payment Deposit</div>
                                    <div class="profile-info-value">
                                      <span>{{ $purchase_inquire->payment_term }} {{ $purchase_inquire->payment_deposit }} %</span>
                                    </div>
                                  </div>
                                  <div class="profile-info-row">
                                    <div class="profile-info-name">Credit Duration</div>
                                    <div class="profile-info-value">
                                      @if($purchase_inquire->credit_duration =='30')
                                      <span>One Month</span>
                                      @else
                                      <span>Cash Before Delivery</span>
                                      @endif
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      	</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover" id="purchase_inquire_item_table">
                          {{-- <thead>
                            <tr>
                              <th>Customer Name</th>
                              <th>Customer Name</th>
                              <th>Customer Name</th>
                              <th>Customer Name</th>
                              <th>Customer Name</th>
                              <th>Customer Name</th>
                              <th>Amount</th>
                              <th></th>
                            </tr>
                          </thead> --}}
                          <thead>
                              <tr style="border-top: 1px solid #DEE2E6; text-align: center;">
                                <th rowspan="2">Description</th>
                                <th rowspan="2">Color Desc</th>
                                <th colspan="2">Quantity</th>
                                <th colspan="2">Price</th>
                                <th rowspan="2" style="text-align:middle;">Amount</th>
                                <th></th>
                              </tr>
                              <tr>
                                <th>Yard</th>
                                <th>Kg</th>
                                <th>(Rp/Yard)</th>
                                <th>(Rp/Kg)</th>
                                <th></th>
                              </tr>
                            </thead>
                      </table>
                    <a href="#" data-toggle="modal" data-target="#quotationform"><i class="fa fa-plus fa-sm blue"></i>
                      Add Quotation
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="quotationform" role="dialog" aria-labelledby="quotationform" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Quotation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/purchase_inquire_item/store">
            {{ csrf_field() }}
            <div class="table-responsive">
              <table class="table table-bordered table-md">
                <thead>
                  <tr colspan="1">
                    <th width="5%">
                      <input type="checkbox" id="checkedAll">
                    </th>
                    <th width="95%">Check/UnCheck All Quotation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="2" style="padding: 0">
                      <div class="scrollit">
                        <table class="innertable" style="margin: 10px 0px 10px 0px;border: 1px solid #D0D0D0">
                          <thead>
                            <tr>
                              <th width="5%"></th>
                              <th width="30%">Item Name</th>
                              <th width="20%">Item Desc</th>
                              <th width="15%">Target Width</th>
                              <th width="15%">Target Gsm</th>
                              <th width="25%">Quotation Price</th>
                            </tr>
                          </thead>
                          <tbody id="form-quotation">
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer text-right">
              <input type="submit" class="btn btn-success" value="Save">                                        
            </div>                     
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="detailform" role="dialog" aria-labelledby="detailform" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Purchase Inquire Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/purchase_inquire_item/store" id="detail-form">
            {{ csrf_field() }}
            <div class="form-row">
              <input class="form-control" name="quotation_id" id="modal_detail_quotation" hidden="">
              <input type="hidden" class="form-control" name="purchase_inquire_id" id="modal_detail_purchase">
              <div class="form-group col-md-6">
                <label for="inputcolor_desc">Color Desc</label>
                <input type="text" class="form-control" name="color_desc" placeholder="Color Desc" id="color_desc">
              </div>
              <div class="form-group col-md-4">
                <label for="is_rib">Is Rib</label>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="is_rib">
                  <label class="custom-control-label" for="is_rib">Yes</label>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="qty">Qty</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" name="qty_yard" placeholder="Qty">
                  <div class="input-group-append">
                    <div class="input-group-text" id='unit'>Yard</div>
                  </div>
                </div>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" name="qty_kg" placeholder="Qty">
                  <div class="input-group-append">
                    <div class="input-group-text" id='unit'>Kg</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputfinal_price">Final Price</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" name="final_price_yard" id="final_price_yard" placeholder="Final Price" data-a-sign="Rp. " data-a-dec="," data-a-sep=".">
                  <div class="input-group-append">
                    <div class="input-group-text" id='unit'>Rp/Yard</div>
                  </div>
                </div>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" name="final_price_kg" id="final_price_kg" placeholder="Final Price" data-a-sign="Rp. " data-a-dec="," data-a-sep=".">
                  <div class="input-group-append">
                    <div class="input-group-text" id='unit'>Rp/Kg</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <input type="submit" class="btn btn-success" value="Save">                                        
            </div>                     
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

@include('layouts.footer')
<script src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#final_price_yard').autoNumeric('init');
  $('#final_price_kg').autoNumeric('init');
  $('#quotation_price').autoNumeric('init');
});
$("#color_desc").keyup(function(){
  $(this).val($(this).val().toUpperCase() );
});

function toRp(angka){
  var rev     = parseInt(angka, 10).toString().split('').reverse().join('');
  var rev2    = '';
  for(var i = 0; i < rev.length; i++){
      rev2  += rev[i];
      if((i + 1) % 3 === 0 && i !== (rev.length - 1)){
          rev2 += '.';
      }
  }
  return 'Rp. ' + rev2.split('').reverse().join('') + ',00';
}

GetInquireItem();
  function GetInquireItem() {
    var id_purcashe = '{{ $purchase_inquire->id }}'
    $('#purchase_inquire_item_table').DataTable({
      order: [[2, 'asc']],
      ajax: '{{ url("purchase_inquire/inquire/item") }}' + '/' + id_purcashe,
      columns: [
        {data: 'fabric_name',   name: 'fabric_name'},
        {data: 'color_desc',   name: 'color_desc'},
        {data: 'qty_yard',   name: 'qty_yard', width: "5%"},
        {data: 'qty_kg',   name: 'qty_kg', width: "5%"},
        {data: 'final_price_yard',   name: 'final_price_yard', render: $.fn.dataTable.render.number( '.', ',', 2, 'Rp. ' )},
        {data: 'final_price_kg',   name: 'final_price_kg', render: $.fn.dataTable.render.number( '.', ',', 2, 'Rp. ' )},
        {data: 'amount',   name: 'amount', render: $.fn.dataTable.render.number( '.', ',', 2, 'Rp. ' )},
        {data: 'add_detail',   name: 'add_detail'},
      ],    fixedHeader: {
        header: false,
        footer: true
    },                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
      rowGroup: {
            startRender: null,
            endRender: function ( rows, group ) {
              var span = 1;
              var prevTD = "";
              var prevTDVal = "";

              var SumYard = rows
                    .data()
                    .pluck('qty_yard')
                    .reduce( function (a, b) {
                        return a + b*1;   
                    }, 0);
              var SumKg = rows
                    .data()
                    .pluck('qty_kg')
                    .reduce( function (a, b) {
                        return a + b*1;   
                    }, 0);
              var SumFinalPriceYard = rows
                    .data()
                    .pluck('qty_kg')
                    .reduce( function (a, b) {
                        return a + b*1;   
                    }, 0);
              var SumAmount = rows
                    .data()
                    .pluck('amount')
                    .reduce( function (a, b) {
                        return a + b*1;   
                    }, 0);
              
              $("#purchase_inquire_item_table tbody tr td:first-child").each(function() {
                var $this = $(this);
                if ($this.text() == prevTDVal) {
                  span++;
                  if (prevTD != "") {
                    prevTD.attr("rowspan", span);
                    $this.remove();
                  }
                } else {
                  prevTD     = $this.addClass('align-middle');
                  prevTDVal  = $this.text();
                  span       = 1;
                }
              });
              $("#purchase_inquire_item_table tbody tr td:last-child").each(function() {
                var $this = $(this);
                if ($this.text() == prevTDVal) {
                  span++;
                  if (prevTD != "") {
                    prevTD.attr("rowspan", span);
                    $this.remove();
                  }
                } else {
                  prevTD     = $this.addClass('align-middle');
                  prevTDVal  = $this.text();
                  span       = 1;
                }
              });

              return $('<tr/>')
                  .append( '<td></td>' )
                  .append( '<td style="color: blue">Sub Total</td>' )
                  .append( '<td style="color: blue; text-align:center;">'+SumYard+'</td>' )
                  .append( '<td style="color: blue">'+SumKg+'</td>' )
                  .append( '<td></td>' )
                  .append( '<td></td>' )
                  .append( '<td style="color: blue">'+toRp(SumAmount)+'</td>' )
                  .append( '<td></td>' );
            },
            dataSrc: 'fabric_name'
        },
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api();

            // Total over this page
            AmountTotal = api
                    .data()
                    .pluck('amount')
                    .reduce(function (a, b) {
                        return a + b *1;
                    }, 0);
            QtyYardTotal = api
                    .data()
                    .pluck('qty_yard')
                    .reduce(function (a, b) {
                        return a + (b *1);
                    }, 0);
            QtyKgTotal = api
                    .data()
                    .pluck('qty_kg')
                    .reduce(function (a, b) {
                        return a + b *1;
                    }, 0);
            if(QtyKgTotal != '0' || AmountTotal != '0' || QtyKgTotal !='0') {
              $("#purchase_inquire_item_table")
                .append('<tfoot>\
                            <td colspan="2" style="text-align: center;">Grand Total</td>\
                            <td style="color: blue;text-align:center; ">'+QtyYardTotal+'</td>\
                            <td style="color: blue">'+QtyKgTotal+'</td>\
                            <td></td>\
                            <td></td>\
                            <td style="color: blue">'+toRp(AmountTotal)+'</td>\
                        </tfoot>');
            }
        }
    });
  }

getQuotation();
function getQuotation() {
  var serv = '{{ env('APP_SERVER') }}';
  jQuery.ajax({
    type: "GET",
    url: serv+'/quotations?is_template=0&status=0',
    success: function (data) {
      data.forEach(quotations => {
      //   console.log(joblists);
        $("#quotation_id").append("<option style='width:100px' item-name='"+ quotations.fabric_name +"'\
                                  item-desc='"+quotations.fabric_desc+"'\
                                  target-widht='"+quotations.target_width+"'\
                                  target-gsm='"+quotations.target_gsm+"'\
                                  price='"+quotations.price+"'\
                                  value='" + quotations.id + "'>" + quotations.id + "</option>");
        $("#modal_quotation_id").append("<option style='width:100px' item-name='"+ quotations.fabric_name +"'\
                                  item-desc='"+quotations.fabric_desc+"'\
                                  target-widht='"+quotations.target_width+"'\
                                  target-gsm='"+quotations.target_gsm+"'\
                                  price='"+quotations.price+"'\
                                  value='" + quotations.id + "'>" + quotations.id + "</option>");
        }
      );
    },
    async: false
  })
}

$(document).on('change', '#quotation_id', function () {
  $('#item_name').val($(this).children("option:selected").attr("item-name"));
  $('#item_desc').val($(this).children("option:selected").attr("item-desc"));
  $('#target_width').val($(this).children("option:selected").attr("target-widht"));
  $('#target_gsm').val($(this).children("option:selected").attr("target-gsm"));
  // $('#quotation_price').val($(this).children("option:selected").attr("price"));
  // $('#quotation_price').autoNumeric("update" ,{});
  const val = $('#quotation_price').val($(this).children("option:selected").attr("price"))[0].value;
  var aa = document.getElementById('quotation_price').value = toRp(val);
});

// function setInputFilter(textbox, inputFilter) {
//   ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
//     textbox.addEventListener(event, function() {
//       if (inputFilter(this.value)) {
//         this.oldValue = this.value;
//         this.oldSelectionStart = this.selectionStart;
//         this.oldSelectionEnd = this.selectionEnd;
//       } else if (this.hasOwnProperty("oldValue")) {
//         this.value = this.oldValue;
//         this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
//       } else {
//         this.value = "";
//       }
//     });
//   });
// }

// setInputFilter(document.getElementById("deposite"), function(value) {
//   return /^-?\d*$/.test(value); 
// });
// setInputFilter(document.getElementById("deposite1"), function(value) {
//   return /^-?\d*$/.test(value); 
// });


function deleteData(id){
  var csrf_token=$('meta[name="csrf_token"]').attr('content');
  var href = '{{ url("purchase_inquire") }}';
  swal({
    text: "Are you sure?",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  })
  .then((willDelete) => {
    if (willDelete) {
      $.ajax({
        url : "{{ url('purchase_inquire_item/delete')}}" + '/' + id,
        type : "GET",
        data : {'_method' : 'DELETE', '_token' :csrf_token},
        success: function(data){
          swal("Purchase Inquire has been deleted!", {
          icon: "success",
          });
          window.location.href = "{{ url('purchase_inquire/show')}}" + '/' +$('#purchase_inquire_id').val();
        },
        error : function(){
          swal({
            title: 'Opps...',
            text : data.message,
            type : 'error',
            timer : '1500'
          })
        }
      })
    }
  });
}

function getQuotationShow(id) {
  var serv = '{{ env('APP_SERVER') }}';
  $.ajax({
    url: serv+'/quotations?id=' + id,
    type: "GET",
    dataType: "JSON",
    success: function(data) {
      $('#modal_item_name').val(data[0].fabric_name);
      $('#modal_item_desc').val(data[0].fabric_desc);
      $('#modal_target_width').val(data[0].target_width);
      $('#modal_target_gsm').val(data[0].target_gsm);
    }
  })
}

$(document).ready(function(){                  
  GetQuotation();
  function GetQuotation(quotation = '') {
    var serv = '{{ env('APP_SERVER') }}';
    jQuery.ajax({
      type: "GET",
      url: serv+'/quotations',
      success: function (data) {
        $('#form-quotation').empty();
        data.forEach(quotation => {
          var output = '<tr>\
                          <td rowspan="2">\
                            <input type="checkbox" class="checkParent" name="quotation_id" id="quotation_id[]" value='+quotation.id+'>\
                          </td>\
                        </tr>\
                        <tr>\
                          <td>'+quotation.fabric_name+'</td>\
                          <td>'+quotation.fabric_desc+'</td>\
                          <td>'+quotation.target_width+'</td>\
                          <td>'+quotation.target_gsm+'</td>\
                          <td>'+toRp(quotation.price)+'</td>\
                          <td hidden>\
                            <input type="checkbox" class="checkChild" name="quotation_price" id="quotation_price[]" value='+quotation.price+'>\
                          </td>\
                          <td hidden>\
                            <input type="checkbox" class="checkChild form-control" name="purchase_inquire_id"  id="purchase_id[]" style="display: none; " value="{{ $purchase_inquire->id }}">\
                          </td>\
                        </tr>'
          $('#form-quotation').append(output);
        })
        $(".checkParent").click(function() {
          if ($(this).is(":checked")) {
            var isAllChecked = 0;
            $(".checkParent").each(function() {
              if (!this.checked)
                isAllChecked = 1;
            })
            $(this).closest("tr").next("tr").find(".checkChild").prop("checked", true);
            if (isAllChecked == 0) {
              $("#checkedAll").prop("checked", true);
            }
          } else {
            $("#checkedAll").prop("checked", false);
            $(this).closest("tr").next("tr").find(".checkChild").prop("checked", false);
          }
        });

        $(".checkChild").click(function() {
          if ($(this).is(":checked")) {
            var isChildChecked = 0;
            $(".checkChild").each(function() {
              if (!this.checked)
                isChildChecked = 1;
            });
            if (isChildChecked == 0) {
              $("#checkedAll").prop("checked", true);
            }
            $(this).closest("table").closest("tr").prev("tr").find(".checkParent").prop("checked", true);
          } else {
            var isAllSiblingChecked = 0;
            $(this).closest("tr").nextAll("tr").find(".checkChild").each(function() {
              if ($(this).is(":checked"))
                isAllSiblingChecked = 1;
            });
            $(this).closest("tr").prev("tr").find(".checkChild").each(function() {
              if ($(this).is(":checked"))
                isAllSiblingChecked = 1;
            });
            if (isAllSiblingChecked == 0) {
              $(this).closest("table").closest("tr").prev("tr").find(".checkParent").prop("checked", false);
            }
            $("#checkedAll").prop("checked", false);
          }
        });
      },
      error: function (error) {
        var html =  ' <tr>\
                        <td rowspan="2" style="display: none;>\
                          <input type="" class="checkParent" name="yarn_list_id[]" id="yarn_list_id[]" >\
                        </td>\
                      </tr>\
                      <tr>\
                        <td></td>\
                        <td style="width: 80%;">Data Tidak ada</td>\
                        <td></td>\
                        <td></td>\
                        <td></td>\
                      </tr>'
        $('#form-quotation').html(html);
      },
      async: false
    })
  }

  $.ajaxSetup({
    headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    }
  });

  // GetInquireItem();
  // function GetInquireItem(){
  //   var id_purcashe = '{{ $purchase_inquire->id }}';
  //   var amount=0;
  //   $.ajax({
  //     url: '/purchase_inquire/show/'+id_purcashe+'/inquire/item',
  //     type: 'POST',
  //     dataType: 'JSON',
  //     success: function(result) {
  //       $('#extable').append().empty();
  //       var data = result.inquire_item;
  //       data.forEach(el => {
  //         var sumAmount=0;
  //         var colorDesc;
  //         var QtyYard;
  //         var QtyKg;
  //         var FinalPriceYard;
  //         var FinalPriceKg;

  //         if(el.color_desc == null) {
  //           colorDesc = '-- empty --';
  //         } else {
  //           colorDesc = el.color_desc
  //         }

  //         if(el.qty_yard == null) {
  //           QtyYard = 0;
  //         } else {
  //           QtyYard = el.qty_yard
  //         }

  //         if(el.qty_kg == null) {
  //           QtyKg = 0;
  //         } else {
  //           QtyKg = el.qty_kg;
  //         }
          
  //         if(el.final_price_yard === null) {
  //           FinalPriceYard =0;
  //         } else {
  //           FinalPriceYard = el.final_price_yard;
  //         }
          
  //         if(el.final_price_kg === null) {
  //           FinalPriceKg =0;
  //         } else {
  //           FinalPriceKg = el.final_price_kg;
  //         }

  //         sumAmount = el.qty_yard * el.final_price_yard;
  //         amount = parseInt(sumAmount);
  //         var am;
  //         am += amount;
  //         var html =  '<tr class="data-row" data-title="Sub Total'+' '+el.quotation_id+'">\
  //                       <td class="align-middle">'+el.fabric_name+'</td>\
  //                       <td hidden="">'+el.id_t_purchase_inquire_items+'</td>\
  //                         <td class="align-middle quotation_id" hidden="">'+el.quotation_id+'</td>\
  //                       '+(colorDesc !== '-- empty --' ? '<td style="color:;">'+colorDesc+'</td>' : '<td style="color:red;">'+colorDesc+'</td>')+'\
  //                       '+(QtyYard !== 0 ? '<td style="color:;">'+QtyYard+'</td>' : '<td style="color:red;">'+QtyYard+'</td>')+'\
  //                       '+(QtyKg !== 0 ? '<td style="color:;">'+QtyKg+'</td>' : '<td style="color:red;">'+QtyKg+'</td>')+'\
  //                       '+(FinalPriceYard.length > 0 ? '<td style="color:;">'+toRp(FinalPriceYard)+'</td>' : '<td style="color:red;">'+toRp(FinalPriceYard)+'</td>')+'\
  //                       '+(FinalPriceKg.length > 0 ? '<td style="color:;">'+toRp(FinalPriceKg)+'</td>' : '<td style="color:red;">'+toRp(FinalPriceKg)+'</td>')+'\
  //                       <td>'+toRp(sumAmount)+'</td>\
  //                       <td hidden="">{{ $purchase_inquire->id }}</td>\
  //                       <td hidden="">'+el.quotation_id+'</td>\
  //                       <td class="align-middle">\
  //                         <a href="#" hidden="">'+el.fabric_name+'</a>\
  //                         <a href="#" id="detail-item" data-item-id='+el.id_t_purchase_inquire_items+' data-toggle="modal"><i class="fa fa-plus fa-sm blue"></i>\
  //                         Add Detail</a> \
  //                       </td>\
  //                         </tr>';
  //         $('#extable').append(html);
  //       });
        
  //       var titles =[] ;
  //       var amount;
  //         $.each ($('#extable tr.data-row'), function (index, elt) {
  //             var title =$(elt).attr ('data-title') ;
  //             if ( $.inArray (title, titles) == -1 )
  //                 $('<tr><td>' + title + '</td></tr>').insertBefore ($('#extable tr:last')) ;
  //             titles.push (title) ;
  //         }) ;

  //       $(document).ready(function(){
  //         var csrf_token=$('meta[name="csrf_token"]').attr('content');
  //         var id_purcashe = '{{ $purchase_inquire->id }}';
  
  //           $('#editable_table').Tabledit({
  //               url: '/purchase_inquire/show/'+id_purcashe+'/table/action',
  //               dataType: 'json',
  //               // data : {'_token' :csrf_token},
  //               groupClass: 'btn btn-sm',
  //               buttons: {
  //                   edit: {
  //                       // class: 'btn btn-xs btn-primary',
  //                       html: '<a href="#"><span class="fa fa-edit fa-sm yellow"></span> &nbsp</a>',
  //                       action: 'edit'
  //                   },
  //                   delete: {
  //                       // class: 'btn btn-xs btn-danger',
  //                       html: '<a href="#"><span class="fa fa-trash-alt fa-sm red"></span> &nbsp</a>',
  //                       action: 'delete'
  //                   },
  //                   save: {
  //                       // class: 'btn btn-xs btn-success',
  //                       html: '<a href="#"><span class="fa fa-save"></span> &nbsp</a>',
  //                       style: 'width:100%',
  //                       html: 'save'
  //                   },
  //               },
  //               columns:{
  //               identifier:[1, "id_t_purchase_inquire_items"],
  //               editable:[[3, 'color_desc'], [4, 'qty_yard'], [5, 'qty_kg'], [6, 'final_price_yard'], [7, 'final_price_kg'], [9, 'id'], [10, 'quotation_id']]
  //             },
  //             restoreButton:false,
  //             onAlways: function() {
  //                             // console.log('onAlways()');
  //                         },
  //                         onAjax: function(action, serialize) {
  //                             // console.log('onAjax(action, serialize)');
  //                             // console.log(action);
  //                             // console.log(serialize);
  //                         },
  //                         onFail: function(jqXHR, textStatus, errorThrown) {
  //                             // console.log(jqXHR);
  //                             // console.log('erro r failed');
  //                             // console.log(errorThrown);
  //                             // alert('Failed Check Your Input');
  //                             // GetInquireItem(); 
  //                         },
  //                         onSuccess:function(data, textStatus, jqXHR){
  //                           if(data.action == 'delete'){
  //                             $('#'+data.id).remove();
  //                           }
  //                           GetInquireItem();
  //                         } 
  //             });
          
  //         // $('#editable_table')
  //         //   .find('thead:last')
  //         //     .append('<tr style="text-align: center;">\
  //         //                 <th>Yard</th>\
  //         //                 <th>Kg</th>\
  //         //                 <th>(Rp/Yard)</th>\
  //         //                 <th>(Rp/Kg)</th>\
  //         //                 <th>Rp</th>\
  //         //                 <th></th>\
  //         //               </tr>');  
      
  //   })

  //       // $("#extable tr td:first-child").each(function() { //for each first td in every tr
  //       //   var $this = $(this);
  //       //   if ($this.text() == prevTDVal) { // check value of previous td text
  //       //     span++;
  //       //     if (prevTD != "") {
  //       //       prevTD.attr("rowspan", span); // add attribute to previous td
  //       //       $this.remove(); // remove current td
  //       //     }
  //       //   } else {
  //       //     prevTD     = $this; // store current td 
  //       //     prevTDVal  = $this.text();
  //       //     span       = 1;
  //       //   }
  //       // }); 
  //     }
  //   });

      $(document).on('click', "#detail-item", function() {
      $(this).addClass('detail-item-trigger-clicked-pur');

      var options = {
        'backdrop': 'static'
      };
      $('#detailform').modal(options)
    })

      $('#detailform').on('show.bs.modal', function() {
        var el                = $(".detail-item-trigger-clicked-pur");
        var row               = el.closest(".data-row");
        var id                = el.data('item-id');
        // var quotation_id      = row.children(".quotation_id").text();
        var quotation_id      = el.data('quotation');
        var purchase_id = '{{ $purchase_inquire->id }}';
        $("#modal_detail_purchase").val(purchase_id);
        $("#modal_detail_quotation").val(quotation_id);
      })

      $('#detailform').on('hidden.bs.modal', function() {
        $('.detail-item-trigger-clicked-pur').removeClass('detail-item-trigger-clicked-pur')
        $("#detail-form").trigger("reset");
      })

      $("#checkedAll").change(function() {
        if (this.checked) {
          $(".checkParent, .checkChild").each(function() {
            this.checked = true;
          });
        } else {
          $(".checkParent, .checkChild").each(function() {
            this.checked = false;
          });
        }
      }); 
  // }
})

</script>